graph {
    fill-color: white;
}
node { 
	size: 7px; 
	fill-color: #8C2; 
	text-mode: hidden;
	text-alignment: under; 
	text-color: white; 
	text-style: bold; 
	text-background-mode: rounded-box; 
	text-background-color: #222C; 
	text-padding: 5px, 4px; 
	text-offset: 0px, 5px;
	stroke-mode: plain; 
	stroke-color: #555;
}

edge {
    shape: line;
    fill-color: #222;
}


